@use "../../mixins";
@use "../../theme";

.dropdown {

    position: relative;
    transition: opacity 0.4s;
    opacity: 1;
    z-index: 5;

   
    .dropdown__content {
        position: absolute;
        background-color: theme.$bg-color;
        box-shadow: theme.$box-shadow;
    }

    &.dropdown--hidden {
        display: none;
        opacity: 0;
    }

    &.dropdown--fading-out {
        opacity: 0;
    }

    &.dropdown--fading-in {
        opacity: 0;
        display: block;
    }
    
}
