$bg-color: #032329;
$bg-color--interactive: darken($bg-color, 5%);
$fg-color: #D6A227;
$fg-color--active: lighten($fg-color, 25%);
$font-family: "UbuntuMono", monospace;
$directory-view__files__bg-color: $bg-color--interactive;
$execute-panel__input__bg-color: $bg-color--interactive;
$directory-view__border-color: darken($fg-color, 25%);
$directory-view__row--in-focus__border-color: darken($fg-color, 15%);
$directory-view__row--selected__color: $fg-color--active;
$button__border-color: $fg-color;
$button--hover__bg-color: lighten($bg-color, 5%);
$button--hover__fg-color: $fg-color--active;
$tabs__border-color: $fg-color;
$tabs__tab__fg-color: darken($fg-color, 5%);
$tabs__tab--active__fg-color: $fg-color;