$bg-color: #032329;
$fg-color: #D6A227;
$fg-color--weakest: darken($fg-color, 10%);
$fg-color--weak: darken($fg-color, 5%);
$fg-color--active: lighten($fg-color, 25%);
$bg-color--interactive: darken($bg-color, 5%);
$border-color--weakest: darken($fg-color, 25%);
$border-color--weak: darken($fg-color, 15%);
$border-color--normal: $fg-color;
$font-family: "UbuntuMono", monospace;
$button--hover__bg-color: lighten($bg-color, 5%);
$transition__color: 200ms;
