@use "./theme";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    outline: 0;
}

body {
    background-color: theme.$bg-color;
    font-family: theme.$font-family;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

@font-face {
    font-family: "UbuntuMono";
    src: url("../resources/Ubuntu_Mono/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: "UbuntuMono";
    src: url("../resources/Ubuntu_Mono/UbuntuMono-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "UbuntuMono";
    src: url("../resources/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "UbuntuMono";
    src: ("../resources/Ubuntu_Mono/UbuntuMono-Italic.ttf");
    font-style: italic;
}