.directory-view {
    height: 100%;
    overflow-y: scroll;
}

.directory-view table {
    text-align: left;
}

.directory-view td {
    cursor: default;
}

.directory-view__file--in-focus td {
    border: 1px solid black;
}

.directory-view__file--selected {
    color: red;
}