.app-fake-input {
    min-height: 40px;
    display: block;
}

.app-fake-input.input {
    height: unset;
    display: block;
}

.app-fake-input.app-active,
.app-fake-input.app-active:hover {
    cursor: text;
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
