$align-values: top left right bottom;

.resize-handle__container {
    position: relative;
}

.resize-handle {
    display: inline-block;
    user-select: none;
    position: absolute;

    @each $align in $align-values {

        &.resize-handle--#{$align} {
           #{$align}: 0;
        }

        @if (#{$align} == left or #{$align} == right) {
            &.resize-handle--#{$align} {
                height: 100%;
                cursor: ew-resize;
                width: 0.1rem;
            }
        } @else {
            &.resize-handle--#{$align} {
                width: 100%;
                cursor: ns-resize;
                height: 0.1rem;
            }
        }

    }
}
