@use "../../../theme";
@use "../../../mixins";

.execute-panel {
    display: flex;
    height: 1.5rem;
    align-items: center;

    label {
        padding-right: 0.5rem;
    }

    input {
        flex: 1;
        height: 100%;
        @include mixins.editable;
    }
}
