.action-panel {
    height: 1.5rem;
    display: flex;
    flex-flow: row wrap;
}

.action-panel button {
    display: block;
    flex: 1;
    font-family: "UbuntuMono", monospace;
    font-weight: 600;
    font-size: 1.05rem;
}