.directory-view {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
}

.directory-view__path,
.directory-view__stats {
    padding: 0.2rem 0;
}

.directory-view__table-container {
    flex: 1;
    border: 1px solid black;
    border-width: 1px 0;
}

.directory-view table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.directory-view__file-table__col {
    width: 25%;
}

.directory-view table th {
    width: 25%;
    border: 1px solid black;
}

.directory-view table tr {
    border: 1px dashed rgba(0,0,0,0.0);
}

.directory-view__file td {
    cursor: default;
    padding: 0 0.2rem;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.directory-view__file td:not(:last-child) {
    border-right: 1px solid black;
}

.directory-view__file td:not(:first-child) {
    border-left: 1px solid black;
}

.directory-view__file--in-focus td {
    border-style: dashed;
    border-color: rgba(59, 59, 59, 0.501);
    border-width: 1px;
}

.side-view--active .directory-view__file--in-focus td {
    border-style: solid;
}

.directory-view__file--selected {
    color: red;
}