@use "../../../theme";

.side-view {
    display: grid;
    grid-template-rows: 2rem calc(100% - 2rem);
    grid-template-columns: auto;
    height: 100%;
    border: 1px solid theme.$border-color--weakest;
    transition: border-color theme.$transition__color;
    box-shadow: theme.$box-shadow--right;

    .side-view__tabs {
        display: flex;
        align-items: flex-end;
    }

    &.side-view--active {

        border-color: theme.$border-color--normal;

        .directory-view__file--in-focus td {
            border-style: solid;
        }
    }
}
