@use "../../theme";

.side-view {
    display: grid;
    grid-template-rows: 2rem calc(100% - 2rem);
    grid-template-columns: auto;
    height: 100%;

    .side-view__tabs {
        display: flex;
        align-items: flex-end;
        border-bottom: 1px solid theme.$tabs__border-color;
    }

    &.side-view--active {
        .directory-view__file--in-focus td {
            border-style: solid;
        }
    }
}
