@use "../../theme";

.tab {
    padding: 0.2rem 0.4rem;
    border-bottom-style: inset;
    border: 1px solid theme.$border-color--weakest;       
    cursor: pointer;
    color: theme.$fg-color--weak;
    border-radius: 0.2rem;
    user-select: none;

    &.tab--active {
        border-bottom-style: none;
        font-weight: 600;
        color: theme.$fg-color;
        border-color: theme.$border-color--normal;
        box-shadow: theme.$box-shadow--right;       
    }
}

